<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.penta.seungbae.proejctcard">

	<select id="selectAll" resultType="edu.penta.seungbae.domain.ProjectCardDTO">
		SELECT
			p.pid, p.category, p.pname, p.intro, p.district, p.meeting_area, p.start, p.end,
			concat(rs.skill_1, ',', rs.skill_2, ',', rs.skill_3, ',', rs.skill_4, ',', rs.skill_5, ',', rs.skill_6, ',', rs.skill_7, ',', rs.skill_8, ',', rs.skill_9, ',', rs.skill_10) skills,
			rp.title, rp.rbno, rp.recruit_hits, rp.rcstart, rp.rcend,
			group_concat(mpp.part separator ',') parts
		FROM 
			pentacore.project p, pentacore.required_skill rs,
			pentacore.recruit_project rp, pentacore.manage_project_part mpp
		WHERE 
			p.pid = rs.pid and rs.pid = rp.pid and p.pid = mpp.pid
		Group by 
			pid
		Order by rp.rcend desc;
	</select>
	
	<select id="selectBydistrict" resultType="edu.penta.seungbae.domain.ProjectCardDTO">
		SELECT
			p.pid, p.category, p.pname, p.intro, p.district, p.meeting_area, p.start, p.end,
			concat(rs.skill_1, ',', rs.skill_2, ',', rs.skill_3, ',', rs.skill_4, ',', rs.skill_5, ',', rs.skill_6, ',', rs.skill_7, ',', rs.skill_8, ',', rs.skill_9, ',', rs.skill_10) skills,
			rp.title, rp.rbno, rp.recruit_hits, rp.rcstart, rp.rcend,
			group_concat(mpp.part separator ',') parts
		FROM 
			pentacore.project p, pentacore.required_skill rs,
			pentacore.recruit_project rp, pentacore.manage_project_part mpp
		WHERE 
			p.pid = rs.pid and rs.pid = rp.pid and p.pid = mpp.pid
		Group by 
			pid
		Order by rp.rcend desc;
	</select>
	
	

</mapper>  